body{
	display : flex;
	align-items: center;
	justify-content: center;
	min-height : 100vh;
}

#download-link{
	display :inline-block;
}

#download-link.noactive{
	color : grey;
	pointer-events : none;
	cursor: not-allowed;
}

#download-link.active{
	color : auto;
	pointer-events : auto;
	cursor : pointer;
}

.recordtoggle p span:first-of-type{
	padding : 10px;
	background-color : red;
	color : white;
	border-radius : 5px;
	display : inline-block;
	float:right;
	cursor: pointer;
	position: relative;
  top: -8px;
  width: 55.494px;
  text-align:center;
}

.container{
	width : 100%;
}

#firstline{
	display :flex;
	justify-content: center;
	padding-bottom : 20px;
	border-bottom : 1px solid rgba(0, 0, 0, 0.3);
}

#secondLine{
	margin-top : 10px;
	display : flex;
}

#secondLine > div{
	flex: 1;
	padding-left : 10px;
	padding-right : 10px;
}

#secondLine > div:nth-child(2){
	border-right : 1px solid rgba(0, 0, 0, 0.3);
	border-left : 1px solid rgba(0, 0, 0, 0.3);
}

#secondLine > div > div{
	display : flex;
}

.input svg, .output svg, .volume svg{
	height : 150px;
	width : 49px;
	border : 1px solid black;
}

#firstline .input{
	padding-right : 20px;
}

#firstline .output{
	padding-left : 20px;
}

#firstline .input, #firstline .output{
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

#firstline .toggles div{
	width : 100%;
	min-width : 170px;
}

#firstline .toggles p{
	margin-top : 10px;
	font-size : 14px;
	width : 100%;
}

#firstline .toggles button{
	float: right;
}

h1{
	text-align:center;
	font-size : 20px;
	width : 100%;
	padding-bottom : 10px;
	padding-top : 10px;
	border-bottom : 1px solid rgba(0, 0, 0, 0.3);
}

.container > p{
	text-align:center;
	font-size : 10px;
	width : 100%;
	margin-bottom : 2px;
}



.container > p:last-of-type{
	margin-bottom : 10px;
}

a{
	text-decoration: underline;
	color : blue;
}

h2{
	text-align : center;
	font-size : 14px;
	font-weight:bold;
}

#secondLine h2{
	display : block;
}

button.off{
	background-color : red;
	color : white;
	height: 100%;
	margin-left : 10px;
	position : relative;
	top : -8px;
	width: 55.494px;
}

button.on{
	background-color : green;
	color : white;
	height: 100%;
	margin-left : 10px;
	position : relative;
	top : -8px;
	width: 55.494px;
}

button.on:hover, button.off:hover{
	color : white;
}

#firstline .toggles{
	display : flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top : 15px;
}

.settings{
	flex: 3;
}

.volume{
	flex : 1;
	display : flex;
	flex-direction: column;
	align-items : center;
}

#menu{
	display : none;
}

#menu div{
	flex : 1;
	text-align : center;
	border : 1px solid black;
}

#menu p{
	margin : 10px;
	font-size : 14px;
	white-space: nowrap;
}

#multidelay, #reverb, #grain{
	opacity : 0.3;
}

.input svg, .output svg, .volume svg{
	background-color : rgba(0,0,255, 0.2);
}

.input svg rect, .output svg rect, .volume svg rect, .svgcontainer circle{
	pointer-events :none;
}

.input svg, .input svg rect, .output svg, .output svg rect, .volume svg, .volume svg rect, .svgcontainer, .svgcontainer circle{
	cursor:pointer;
}

.svgcontainer, .svgcontainer svg{
	overflow:visible;
}

#credit{
	color : blue;
	text-decoration: underline;
	cursor:pointer;
}

.credits h2{
	margin-top : 10px;
}

.error, .loading, .credits{
	position : absolute;
	width : 100vw;
	height : 100vh;
	display : none;
	align-items: center;
	justify-content: center;
	z-index : 10;
	text-align : center;
	background-color: rgba(255,255,255, 0.7);
}

.error > div, .credits > div{
	background-color : white;
	border : 1px black solid;
	width : 70%;

}

.loading div{
	border : 1px solid black;
	padding : 70px;
	background-color : white;
}
.loading i{
	font-size : 65px;
}

#reverb .settings{
	display : flex;
	flex-wrap: wrap;
	width : 100%;
}

#reverb .settings button{
	width : 50%;
}

#multidelay .settings{
	display : flex;
	flex-wrap: wrap;
	width : 100%;
}

#reverb .settings div{
	width : 100%;
}

#grain .settings{
	display : flex;
	flex-wrap: wrap;
	width : 100%;
}

#grain .settings div{
	width : 100%;
}

#multidelay .settings > div:last-of-type{
	width : 100%;
}

#multidelay .settings > div, #grain .settings > div{
	width : 100%;
	display : flex;
	align-items: center;
}

#multidelay button{
	border : 1px solid black;
	width : 100%;
}

#multidelay button:active{
	background-color : rgba(0,0,255, 0.2);
}

#multidelay label, #grain label{
	flex : 1;
}

#multidelay .tempo label{
	flex : 1;
}

#multidelay .svgcontainer, #grain .svgcontainer{
	flex : 1.8;
	width : 100%;
}

#multidelay label, #reverb label, #grain label{
	font-size : 16px;
}

#multidelay .svgcontainer rect, #grain .svgcontainer rect{
	width : 100%;
}

#multidelay .settings svg, #grain .settings svg{
	height : 36px;
	width : 100%;
}

#multidelay .tempo input{
	text-align :center;
	flex : 1.6;
	border : 1px solid black;
	min-width: 0;
}

button.selected{
	background-color : rgba(0,0,255,0.2);
}

@media (max-width: 992px){

	#secondLine > div:nth-child(2){
		border : 0px solid black;
	}


	#menu{
		display :flex;
	}

	#menu .selected{
		background-color : rgba(0,0,255, 0.2);
	}

	#secondLine > div{
		display : none;
	}

	#menu div:hover{
		cursor:pointer;
	}

	#secondLine .selected{
		display : block;
	}

}

